@model DBProject.Models.ActedIn
@{
    ViewBag.Title = "Add Actor To Movie Confirmation";
}

<h2>Add Actor To Movie Confirmation</h2>
<div class="container">
    <div class="row">
        <p>Title: @Model.Movie</p>
    </div>
    <div class="row">
        <p>Actor: @Model.Actor</p>
    </div>
    <div class="row">
        <p>Character Name: @Model.CharName</p>
    </div>
    <div class="row">
        <p>Pay: $@Model.Pay</p>
    </div>
</div>
