@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">ADD MOVIE</div>
        <div class="col-md-4 col-sm-12">ADD STAR</div>
        <div class="col-md-4 col-sm-12">ADD PRODUCER</div>
    </div>
</div>