@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="AddMovie" class="btn">Add Movie</a> 
        </div>
        <div class="col-sm-4">ADD STAR</div>
        <div class="col-sm-4">ADD PRODUCER</div>
    </div>
</div>